#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f7f7;
  cursor: default;
  position: relative;
}

html > body h1,
html > body h2,
html > body h3,
html > body h4,
html > body h5,
html > body h6,
html > body a,
html > body label,
html > body span,
html > body div {
  font-family: museo-sans, sans-serif;
}

html > body {
  line-height: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html > body .ui.input {
  font-family: "museo-sans", sans-serif;
  font-size: 1.167rem;
  font-weight: 300;
}

html > body .ui.input input {
  font-family: "museo-sans", sans-serif;
  font-size: 1.167rem;
  font-weight: 300;
}

html > body textarea {
  font-family: "museo-sans", sans-serif;
  font-size: 1.167rem;
  font-weight: 300;
  line-height: 1.43;
}

html > body div[role="listbox"].ui.dropdown,
html > body div[role="option"].item {
  font-family: "museo-sans", sans-serif;
}

html > body .ui.inline.dropdown > .text {
  font-size: 1rem;
  font-weight: 300;
}

html > body .ui.dropdown > .dropdown.icon::before {
  font-size: 1.167rem;
}

html > body div.ui.bottom.right.popup {
  padding: 0px;
  border-radius: 0.66rem;
}

html > body form.ui.form div.react-date-picker__button__input {
  padding-left: 0.33rem;
}

html > body form.ui.form div.react-date-picker__button__input input {
  border: none;
  padding: 0px;
}

html > body div.react-datepicker__input-container > input.envirio-datepicker {
  border: 2px solid rgba(0,0,0,0.25);
}

html > body h6 {
  margin: 0;
}

.inheritHeightDropdown > .dropdown {
  height: inherit !important;
}

.ui.disabled.input, .ui.input:not(.disabled) input[disabled] {
  opacity: .75;
}

.ReactModal__Content, ReactModal__Content--after-open {
  top: 10px !important;
  left: 10px !important;
  right: 10px !important;
}

@media only screen and (min-width: 768px) {
  .ReactModal__Content, ReactModal__Content--after-open {
    top: 40px !important;
    left: 40px !important;
    right: 40px !important;
  }
}


textarea {
  resize: none;
}
